In [2]:
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline
%config InlineBackend.figure_format = 'retina'
import warnings
warnings.filterwarnings(action='ignore')
import numpy as np
plt.rc('font', family='Malgun Gothic') 
plt.rc('axes', unicode_minus=False)
import matplotlib.font_manager as fm
font_path = 'C:\Windows\Fonts\HMFMPYUN.TTF'
font_prop = fm.FontProperties(fname=font_path, size=20)
import seaborn as sns

In [3]:
apart200601=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132657.csv',skiprows=15, encoding='cp949')
apart2007=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132639.csv',skiprows=15, encoding='cp949')
apart2008=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132613.csv',skiprows=15, encoding='cp949')
apart2009=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132550.csv',skiprows=15, encoding='cp949')
apart2010=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132527.csv',skiprows=15, encoding='cp949')
apart2011=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132324.csv',skiprows=15, encoding='cp949')
apart2012=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132256.csv',skiprows=15, encoding='cp949')
apart2013=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132237.csv',skiprows=15, encoding='cp949')
apart2014=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132214.csv',skiprows=15, encoding='cp949')
apart2015=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132147.csv',skiprows=15, encoding='cp949')
apart2016=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132114.csv',skiprows=15, encoding='cp949')
apart2017=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132047.csv',skiprows=15, encoding='cp949')
apart2018=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827132019.csv',skiprows=15, encoding='cp949')
apart2019=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827131953.csv',skiprows=15, encoding='cp949')
apart2020=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827131929.csv',skiprows=15, encoding='cp949')
apart202107=pd.read_csv('seoul_trade/2020/아파트(매매)__실거래가_20210827131901.csv',skiprows=15, encoding='cp949')

In [4]:
apart=pd.concat([apart200601,apart2007,apart2008,apart2009,apart2010,apart2011,apart2012,apart2013,apart2014,apart2015,apart2016,apart2017,apart2018,apart2019,apart2020,apart202107])
apart

,시군구,번지,본번,부번,단지명,전용면적(㎡),계약년월,계약일,거래금액(만원),층,건축년도,도로명,해제사유발생일
0,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200603,10,"59,500",7,1988,언주로 103,NaN
1,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200603,29,"60,000",6,1988,언주로 103,NaN
2,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200604,29,"67,000",9,1988,언주로 103,NaN
3,서울특별시 강남구 개포동,655-2,655.0,2.0,개포2차현대아파트(220),77.75,200606,1,"60,000",4,1988,언주로 103,NaN
4,서울특별시 강남구 개포동,658-1,658.0,1.0,개포6차우성아파트1동~8동,67.28,200601,19,"54,500",3,1987,언주로 3,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
59752,서울특별시 중랑구 중화동,274-76,274.0,76.0,한영(103),58.46,202107,1,"30,000",2,2003,동일로144길 74,NaN
59753,서울특별시 중랑구 중화동,274-77,274.0,77.0,한영(104),67.57,202008,7,"26,000",2,2003,동일로144길 74,NaN
59754,서울특별시 중랑구 중화동,11,11.0,0.0,현대휴앤미,100.17,202012,3,"54,800",5,2007,봉화산로27가길 23,NaN
59755,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),77.71,202009,28,"40,000",5,2007,봉화산로27가길 19,NaN
59756,서울특별시 중랑구 중화동,11-7,11.0,7.0,현대휴앤미(102동),77.71,202009,28,"40,000",5,2007,봉화산로27가길 19,20201027.0

In [5]:
apart.index=range(apart.shape[0])

In [8]:
apart=apart[apart['해제사유발생일'].isna()]

In [10]:
apart=apart[['시군구','계약년월','계약일']]

In [12]:
apart['계약날짜'] = apart['계약년월']*100+apart['계약일']

In [18]:
apart['시군구']=apart['시군구'].map(lambda x : x[6:9])

In [19]:
apart1 = apart.groupby(['계약날짜','시군구'])['계약일'].aggregate('count').unstack().copy()
apart1

시군구,강남구,강동구,강북구,강서구,관악구,광진구,구로구,금천구,노원구,도봉구,...,성동구,성북구,송파구,양천구,영등포,용산구,은평구,종로구,중구,중랑구
계약날짜,,,,,,,,,,,,,,,,,,,,,
20060101,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN
20060102,11.0,2.0,2.0,2.0,NaN,NaN,4.0,1.0,8.0,4.0,...,1.0,1.0,6.0,3.0,3.0,3.0,2.0,NaN,1.0,1.0
20060103,18.0,4.0,NaN,8.0,5.0,NaN,3.0,1.0,8.0,3.0,...,2.0,1.0,13.0,9.0,6.0,1.0,NaN,1.0,NaN,2.0
20060104,22.0,11.0,1.0,4.0,1.0,1.0,2.0,2.0,14.0,5.0,...,4.0,2.0,11.0,8.0,8.0,NaN,NaN,1.0,NaN,1.0
20060105,22.0,9.0,1.0,5.0,4.0,2.0,1.0,2.0,11.0,3.0,...,4.0,2.0,18.0,8.0,3.0,2.0,2.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20210721,4.0,9.0,2.0,6.0,3.0,5.0,11.0,1.0,10.0,6.0,...,4.0,7.0,5.0,6.0,9.0,1.0,4.0,1.0,1.0,11.0
20210722,7.0,8.0,4.0,15.0,2.0,1.0,11.0,3.0,11.0,8.0,...,3.0,7.0,11.0,6.0,11.0,3.0,5.0,3.0,2.0,4.0
20210723,11.0,5.0,8.0,11.0,8.0,NaN,8.0,2.0,12.0,8.0,...,6.0,10.0,14.0,6.0,5.0,3.0,5.0,NaN,2.0,3.0
20210724,10.0,9.0,11.0,21.0,13.0,6.0,12.0,7.0,27.0,3.0,...,17.0,23.0,15.0,8.0,10.0,3.0,17.0,1.0,2.0,6.0
20210725,NaN,NaN,NaN,1.0,2.0,1.0,4.0,2.0,3.0,2.0,...,4.0,3.0,3.0,NaN,4.0,NaN,3.0,1.0,NaN,NaN