<b><font size = "6" color="red">ch03. 데이터구조</font><b>
- 리스트, 튜플, 딕셔너리, 셋, enumerate

## 1절. 리스트 []

## 1.1 리스트 만들기
- []를 이용해서 만들며, 여러개 값을 하나의 변수에 저장/관리할 수 있음. list()함수 이용도 가능
- 인덱스 : 각 요소의 위치. 인덱스 0부터 시작, 맨 마지막 인덱스 -1.
- 슬라이싱([from:to:by]) : 부분 데이터셋을 뽑아 내는 것. 인덱스를 이용해서 쓰기와 읽기도 지원

In [ ]:
a= ["banana", 2, ["number", 45], True]
print(a)
type(a)

In [ ]:
# range(from, to, by) : from부터 to 바로 앞까지 by씩 증가하면서 만들어진 리스트
    # from 생략시 0 / by 생략시 1
range(6) # range(0,6,1)

In [ ]:
print(list(range(6)))
print(list(range(10,-1,-2)))
print(list(range(0,10,2)))

In [ ]:
for i in [1,2,3,4]:
    print(i, end='\t')
print(end='\n')
for i in range(1,5):
    print(i, end='\t')

In [ ]:
for i in a:
    print(i)

In [ ]:
for i in list(range(len(a))):
    print("{}-->{}".format(i,a[i]))

In [ ]:
#2차원리스트
numbers_2d = [[1,2,3,4,5],[10,20,30,40,50],[1,3,5]]
print(numbers_2d)
for row in numbers_2d:
    for i in row:
        print(i, end='\t')
    print()

In [ ]:
len(numbers_2d)

In [ ]:

for i in range(len(numbers_2d)):
    for j in range(len(numbers_2d[i])):
        print("{}행{}열 : {}".format(i,j, numbers_2d[i][j]), end="\t")      
    print()

## 1.2 기본 정보 조회

In [ ]:
numbers=[1,2,3,4,5]
numbers_2d=[[100,0,0,0,0],[90,90,90,90,90]]

In [ ]:
print(len(numbers))
print(len(numbers_2d))

In [ ]:
min(numbers), max(numbers)

In [ ]:
#2차원리스트의 max()함수는 부분리스트 중 첫 요소가 가장 큰 값
#             min()함수는 부분리스트 중 첫 요소가 가장 작은 값
numbers_2d=[[100,0,0,0,0],[90,90,101,90,90]]
min(numbers_2d), max(numbers_2d)

## 1.3 요소 추가

In [ ]:
# +  두 리스트 연결
# * 리스트*n  n번 리스트 반복
# append() 요소 맨 뒤에 추가
# extend() 리스트 요소별로 맨 뒤에 추가
# insert(idx, 값) idx번째 인덱스에 값을 추가

In [ ]:
num=[1,2]
num+num

In [ ]:
print(2*num)
print(num*2)

In [ ]:
numbers_2d.append([2,4])
print(numbers_2d)

In [ ]:
numbers_2d.extend([[1,2,3,4],[4,5,6,7]])
numbers_2d

In [ ]:
a=['i']
a.extend('hello') # [h,e,l,l,o]
print(a)

In [ ]:
numbers_2d.insert(3,[1])
numbers_2d

## 1.4 인덱싱

- [index] : 인덱스를 이용한 접근
- index() : 해당 요소의 위치 반환
- count() : 리스트에서 데이터의 갯수 반환

In [ ]:
numbers=[1,2,3,[1,2,3],1,2,3]
numbers_2d=[[1,2,3],[1,2,3]]

In [ ]:
print(numbers.count(2))
print(numbers_2d.count(2))

In [ ]:
print(numbers.index(2))
# print(numbers_2d.index(2)) #에러 2가 없다.
print(2 in numbers_2d)

In [ ]:
numbers.index(2,3) #3번 인덱스부터 나오는 2의 인덱스

## 1.5 원하는 리스트 내용만 추출; 리스트 슬라이싱
- 인덱스보다 많은 값을 써도 에러 나지 않음
- [from:to:by]: from부터 to앞까지 by씩 증가하는 index 추출
                from, to, by 모두 생략 가능
- 인덱스는 음수 가능

In [ ]:
numbers = [1,3,5,7,9]
numbers[::-1]

## 리스트 컴프리헨션을 이용해서 list에 원하는 데이터 액세스

In [ ]:
numbers = [1,3,5,9,10,12,13,18,19,20]
#모든 데이터를 다 가져오기
# for data in numbers:
#     print(data, end='\t')
[data for data in numbers]

In [ ]:
# for data in numbers:
#     if data%2==0:
#         print(data, end='\t')
print([data for data in numbers if data%2==0])
[data for data in numbers if data>=10]

In [ ]:
#글자 수가 5글자 이상
fruits = ['orange', 'apple', 'mango', 'kiwi']
[data for data in fruits if len(data)>=5]
#과일의 글자 수를 추출하세요
[len(data) for data in fruits]

In [ ]:
#리스트의 값의 제곱을 추출하라
[data**2 for data in range(1,6)]

## 1.6 요소 수정하기

In [ ]:
numbers = [0,1,2,3,4,5,6,7,8,9]
numbers[2]=222
numbers

In [ ]:
#부분리스트를 통째로 바꿈
numbers[0:2]=[111,111,111,11,11,111,11,111,11,11]
numbers

In [ ]:
#슬라이싱에서 by가 포함된 경우 (개수를 맞춰야 함)
numbers=[0]*10
numbers[::2] = [1,1,1,1,1]
numbers

## 1.7 삭제하기
- pop() : 가장 마지막 인덱스가 요소가 반환되고 삭제
- pop(n) : n번째 idx의 요소가 반환되고 삭제
- remove(data) : 해당 data가 삭제
- del 리스트변수[n] : n번째 index 요소가 삭제

In [2]:
numbers=[1,2,3,4]
print(numbers.pop())
print(numbers)
n=[1,2,3,3,3,3,3]
n.remove(3)
n

4
[1, 2, 3]

[1, 2, 3, 3, 3, 3]

In [ ]:
numbers=[1,2,3,4]
print(numbers.remove(3))
print(numbers)

In [ ]:
numbers=[1,2,3,4]
del numbers[1]
numbers

## 1.8 정렬하기
- sort()
- reverse()

In [ ]:
numbers = [9,5,2,6,10]
numbers.sort() #number 자체가 정렬한 결과로 바뀜. 기본정렬은 오름차순
numbers

In [ ]:
numbers[::-1] #내림차순 정렬

In [ ]:
numbers.reverse()
numbers

## 1.9 리스트 복제
- copy()

In [ ]:
numbers=[6,2,7,4,10]
new_numbers=numbers #numbers의 주소가 new_numbers로
numbers.sort()
print(new_numbers)
print(numbers)
print(id(new_numbers))
print(id(numbers))

In [ ]:
numbers=[6,2,7,4,10]
new_numbers=numbers.copy() #numbers의 주소가 new_numbers로
numbers.sort()
print(new_numbers)
print(numbers)
print(id(new_numbers))
print(id(numbers))

In [ ]:
a=['서울','인천','경기','부산']
temp=a.copy()
a.sort()
print(' '.join(temp))
print(' '.join(a))

In [ ]:
# a=[1,3,4,2]
# temp=a.copy()
# a.sort()
# print(' '.join(temp))
# print(' '.join(a))   ##에러 a에 숫자

# 2절. 튜플
- 리스트와 유사하지만 읽기전용. 수정이 필요없는 데이터 타입에서 사용
- 수정이 불가하므로 튜플에 데이터 추가, 수정, 삭제 불가.
- 제공되는 함수도 많지 않음
- () 이용해서 생성

In [ ]:
city=('서울','부산','대구','울산',)
type(city)

In [ ]:
'-'.join(city)

In [ ]:
I=['서울']
print(type(I))
print(I)

In [ ]:
I=('서울')
print(type(I))
print(I)

In [ ]:
city=('서울',)
print(type(city))
print(city)

In [14]:
numbers=1,2,3 # 자동 튜플
print(type(numbers))
print(numbers)

<class 'tuple'>
(1, 2, 3)

In [15]:
len(numbers), min(numbers), max(numbers)

(3, 1, 3)

In [16]:
numbers.count(2), numbers.index(2)

(1, 1)

# 3절. 딕셔너리
cf. 자바에서의 hashMap
    * 중괄호{}를 이용해서 딕셔너리 생성. 키(key)-값(value)의 쌍으로 구성된 자료구조
    * 키는 유일한 값(중복허용 안함). 키에 리스트는 사용불가. 키에 튜플은 사용가능
    * 값은 중복 가능, 모든 데이터 타입 가능
    * 없는 키의 값을 참조하면 에러 발생
    * 인덱스를 이용한 참조는 지원 안함

In [18]:
dic={'key1':'value', 'key2':'value'}
print(type(dic))
print(dic)

<class 'dict'>
{'key1': 'value', 'key2': 'value'}

In [41]:
len(dic)
my_favorite ={'fruit':'apple','number':12,'sport':'golf'}
my_favorite['fruit']

'apple'

In [25]:
my_favorite.get('fruit')

'apple'

In [31]:
print(my_favorite.get('people'))
#print(my_favorite['people']) #에러

None

In [42]:
my_favorite['fruit']='banana'  #수정
print(my_favorite) 
my_favorite['people']="kim"    #추가
print(my_favorite)
del(my_favorite['sport'])      #제거
print(my_favorite)

{'fruit': 'banana', 'number': 12, 'sport': 'golf'}
{'fruit': 'banana', 'number': 12, 'sport': 'golf', 'people': 'kim'}
{'fruit': 'banana', 'number': 12, 'people': 'kim'}

In [4]:
#for를 이용한 딕셔너리 출력
my_dic = {'name':'홍길동', 'age':25, 'tel':'010-9999-9999'}
my_tuple = ('홍길동', 25, '010-9999-9999')
for data in my_tuple:
    print(data, end='\t')

for idx in range(len(my_tuple)):
    print("{}번째 데이터 : {}".format(idx,my_tuple[idx]))

홍길동	25	010-9999-9999	0번째 데이터 : 홍길동
1번째 데이터 : 25
2번째 데이터 : 010-9999-9999

In [46]:
my_dic.keys()  #키목록

dict_keys(['name', 'age', 'tel'])

In [48]:
my_dic.values() #값목록

dict_values(['홍길동', 25, '010-9999-9999'])

In [49]:
my_dic.items() # 튜플로 이루어진 (키, 값)

dict_items([('name', '홍길동'), ('age', 25), ('tel', '010-9999-9999')])

In [54]:
for key in my_dic.keys():
    print(key)

name
age
tel

In [55]:
for value in my_dic.values():
    print(value)

홍길동
25
010-9999-9999

In [56]:
for item in my_dic.items():
    print("{}은 {}".format(item[0],item[1]))

name은 홍길동
age은 25
tel은 010-9999-9999

In [5]:
for key, value in my_dic.items():
    print("{}은 {}".format(key, value))

name은 홍길동
age은 25
tel은 010-9999-9999

In [11]:
for i in my_dic:
    print(i)
    
for item in my_dic.items():
    print(item)

name
age
tel
('name', '홍길동')
('age', 25)
('tel', '010-9999-9999')

#### 딕셔너리 복사(딕셔너리가 주소를 가리키므로) : copy()

In [13]:
my_favorite ={'fruit':'apple','number':12,'sport':'golf'}
new_my_favorite=my_favorite.copy()
new_my_favorite["fruit"]="banana"
print(my_favorite)
print(new_my_favorite)

{'fruit': 'apple', 'number': 12, 'sport': 'golf'}
{'fruit': 'banana', 'number': 12, 'sport': 'golf'}

# 4절. 셋
    * 중복 허용하지 않는 집합(순서X)
    * 중괄호({})나 set()함수를 이용해서 셋 생성 : set([1,2]) set({딕셔너리}) set(튜플)
    * 집합연산자 ( &교집합 |합집합 -차집합 )

In [15]:
fruits = {'apple','orange','banana','banana'}
fruits

{'apple', 'banana', 'orange'}

In [23]:
s1=set([1,2,3,1,1])
print(s1)
s2=set((1,2,3,1))
print(s2)

{1, 2, 3}
{1, 2, 3}

In [19]:
s3 = set({'name':'홍길동','age':30}) # name, age
s3

{'age', 'name'}

In [24]:
s2.add((4,5,6))
s2

{(4, 5, 6), 1, 2, 3}

In [26]:
#s2.add([1,2,3]) ##에러 : 리스트[]는 add 불가, 딕셔너리{ : , : }도 add 불가
s2.add(0)
s2

{(4, 5, 6), 0, 1, 2, 3}

In [27]:
s2.add(False)  ## False=0
s2

{(4, 5, 6), 0, 1, 2, 3}

In [28]:
s2.update([4,1])
s2

{(4, 5, 6), 0, 1, 2, 3, 4}

In [29]:
s2.update({'name':'kim','age':30})
s2

{(4, 5, 6), 0, 1, 2, 3, 4, 'age', 'name'}

In [30]:
s1={1,2,3,4}
s2={3,4,5,6}
print(s1&s2)
print(s1|s2)
print(s1-s2)

{3, 4}
{1, 2, 3, 4, 5, 6}
{1, 2}

In [32]:
name={'kildong','kilja','sunja'}
print(name)

{'sunja', 'kilja', 'kildong'}

In [33]:
for n in name:
    print(n, end='\t')

sunja	kilja	kildong

# 5절. enumerate
    - 반복자 또는 순서 객체로 반복문을 처리할 때 인덱스 처리를 해결하는 함수

In [34]:
list(enumerate(name))

[(0, 'sunja'), (1, 'kilja'), (2, 'kildong')]

In [35]:
for idx,data in enumerate(name):
    print("{}번째 : {}".format(idx, data))

0번째 : sunja
1번째 : kilja
2번째 : kildong

In [38]:
L= ['길자','순자','길동']
for idx in range(len(L)):
    print("{}번째 : {}".format(idx, L[idx]))

0번째 : 길자
1번째 : 순자
2번째 : 길동

In [40]:
print(list(enumerate(L)))
for idx, name in enumerate(L):
    print("{} : {}".format(idx, name))

[(0, '길자'), (1, '순자'), (2, '길동')]
0 : 길자
1 : 순자
2 : 길동

In [41]:
dic={'name':'홍길동', 'age':35, 'address':'서울시 마포구'}
for key, value in dic.items():
    print("{} : {}".format(key, value))

name : 홍길동
age : 35
address : 서울시 마포구

In [44]:
print(list(enumerate(dic.items())))
for idx, (key,value) in enumerate(dic.items()):
    print("{}번째 {} : {}".format(idx, key, value))

[(0, ('name', '홍길동')), (1, ('age', 35)), (2, ('address', '서울시 마포구'))]
0번째 name : 홍길동
1번째 age : 35
2번째 address : 서울시 마포구

In [53]:
# 3의 인덱스 값들을 구하라
numbers=[1,3,5,9,10,3,13,18,3,20]
#1
n=0
while n<len(numbers):
    if numbers[n]==3:
        print(n)
    n=n+1
#2
n=numbers.index(3,0)
while n<len(numbers):
    print(n)
    if 3 in numbers[n+1:len(numbers)]:
        n=numbers.index(3,n+1)
    else :
        break
        

##[numbers.index(num) for num in numbers if num==3] #안됌

1
5
8
1
5
8